<html>
<body>
    <div class="home">
       <h1>Value Investing Genie !!</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h3>
            <legend>Use Best Model (LSTM) for making real time prediction using Bollinger Bands</legend>
        </h3>
        <div class="mb-3">
            <label class="form-label">Stock Symbol</label>
            <select class="form-control" name="stock" placeholder="Enter the Stock Symbol" required>
                <option class="placeholder" selected disabled value="">Select a Stock!</option>
                <option value="MSFT">
                    Microsoft
                </option>
                <option value="AAPL" disabled>
                    Apple
                </option>
                <option value="GOOG" disabled>
                    Google
                </option>
                
            </select>
        </div>
        <br/>
        <div class="mb-3">
            <label class="form-label">Duration</label>
            <select class="form-control" name="duration" placeholder="Enter the time period or window duration for the time series data:" required>
                <option class="placeholder" selected disabled value="">Select the duration</option>
                <option value="1">
                    Daily
                </option>
                <option value="7">
                    Weekly
                </option>
                <option value="30">
                    Monthly
                </option>
            </select>
        </div>
        <br/>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Run Model for prediction:" required />
        </div>
    </form>
    <h2>
        The Buy sell predicition symbols are shown as below:
    </h2>
    <img src="{{ image }}" alt="{{ image }}" />
    <h2>
       The maximum profit made with above signals is {{profit}}
    </h2>
    <br/>
    <body>
</html>